/*main color #fee5de  ,rgba(254, 229, 222)*/


/* general set up for webpage as a whole, */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.heading {
    font-family: "Libre Baskerville", Garamond, serif;
    padding: 10px 10px;
    margin: auto;
    position: relative;
    font-size: 250%;
}


/* icon with tittle */


/* Icon bar*/

.icon-bar {
    right: 0;
    z-index: 4;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.instagram {
    background: #D89138;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -2;
}

#header,
#footer,
.page {
    display: block;
}

.backgroundPic {
    display: block;
    width: 100%;
}

.middle {
    text-align: center;
}

.empty {
    visibility: hidden;
}

p {
    font-size: 100%;
    font-family: 'lato';
    line-height: 1.2;
    font-weight: lighter;
}


/* background picture */

.page {
    z-index: 3;
    position: relative;
    background-image: url(/src/666628.png);
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    margin: 0;
    background-color: rgb(250, 238, 234);
    width: 100%;
    padding-bottom: 60px;
    min-height: 500;
}

body {
    margin-top: auto;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgba(254, 229, 222);
}


/* header section */

.nav {
    padding: 5px;
    display: grid;
    grid-template-columns: 255px auto;
    grid-template-rows: 70px;
    position: relative;
    width: 100%;
    margin: 0;
    top: 0px;
    background-color: rgb(254, 229, 222);
}

.navMiddle {
    background-color: rgb(254, 229, 222);
    overflow: hidden;
}

#closebtn {
    display: none;
}

.navMiddle ul li {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: right;
    color: black;
}

.navMiddle ul li a,
div .userLogin a {
    font-family: lato;
    display: block;
    text-decoration: inherit;
    font-size: 120%;
    min-height: 16px;
    text-align: center;
    color: black;
}

.cart:hover,
.navMiddle ul li a:hover,
.userLogin a:hover {
    background-color: rgba(250, 203, 190);
}

#dropdownIcon {
    display: none;
}

.logo {
    margin: 10px 0 0 10px;
    height: 50px;
}

.sideLogo {
    padding: 10px;
    margin: 0px;
    width: 100%;
}

.mobileLogo {
    display: none;
}

@media screen and (max-width: 750px) {
    .navMiddle li:not(:nth-child(1)) {
        display: none;
    }
    #dropdownIcon {
        top: 800px;
        padding: 0 0 10px 0;
        display: block;
    }
    /* .navMiddle ul li a {
        margin: 0px 14px 5px 0px;
        padding: 8px 14px;
    } */
    .nav {
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: 255px auto 0;
    }
}

@media screen and (max-width: 620px) {
    .nav {
        grid-template-columns: 70px minmax(73px, auto);
        margin: 0;
        padding: 0;
        font-size: 80%;
    }
    .logo {
        display: none;
    }
    .mobileLogo {
        display: block;
        height: 80%;
        margin: 0;
    }
    /* show login and sign up on side nav */
    #hide a {
        display: none !important;
    }
}